@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.aline-content{
    display: flex;
    justify-content: center;
    
}
.center-content{
    width: 80%;
    overflow: hidden;
    border: 1px solid #000;
    border-top: 0;
    border-bottom: 0;
}
.full-wep{
    width: 100%;
}
/* main style */
/* header-style */
.head-bg{
    background-color:rgba(229, 84, 115, 0.10) ;
}
.first-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.head-conteiner{
    display: flex;
    width: 100%;
}
.left-content, .right-content{
    position: relative;
    width: 50%;
    font-family: Lato;
    overflow: hidden;
}
.left-content h1{
    color: #272727;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.left-content div{
    padding-right: 35px;
    display: block;
    margin: 8.3rem 0px;
}
.left-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 0px;
}
.btn-my{
    background: #E55473;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.btn-my:hover{
    background: none;
    color: #E55473;
    border: 1px solid #E55473;
    transition: 0.2s ease-out;
}
.left-content .btn-my{
    background: #E55473;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.left-content .btn-my:hover{
    background: none;
    color: #E55473;
    border: 1px solid #E55473;
    transition: 0.2s ease-out;
}
.right-content{
    height: 90vh;
    overflow: hidden;
}
.right-content .img-div{
    background-image: url(./image/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 95%;
    width: 100%;
    position: absolute;
    bottom: -2px;
    right: -60px;
}
/* futured-style */
.future-continer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.future-continer div p {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    font-size: 18px;
    letter-spacing: 1px;
    padding: 20px 0;
}
.future-flower{
    overflow: hidden;
    margin: 10px 13px;
    width: 300px;
    height: 367px;
    border-radius: 300px 300px 0px 0px;
}
.future-flower img{
    height: 300px;
    width: 200px;
    padding: 50px;
    margin-top: 20px;
}
.flow1{
    background: rgba(167, 33, 98, 0.15);}
.flow2{
    background: rgba(5, 151, 160, 0.15);}
.flow3{
    background: rgba(71, 125, 17, 0.15);
}
.future-titel{
    margin: 120px 0 60px;
    display: block;
    width: 100%;
    overflow: hidden;
    font-family: 'Lato';
}
.future-titel div{
    padding: 0px 30%;
    text-align: center;
}
.future-titel h2{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 14px;
    letter-spacing: 2px;
    font-weight: 800;
}
.future-titel p{
    display: flex;
    width: 100%;
    justify-content: center;
    line-height: 25px;
    letter-spacing: 1px;
}
/* support-area */
.hot-deal-bg{
    background: rgba(229, 84, 115, 0.05);
}
.support-ber{
    margin: 100px 0;
}
.support-ber div{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.sub-content{
    display: block !important;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 2px;
}
.sub-content div{
    display: inline-block;
    padding: 10px 40px;
    font-family: lato;
    font-size: 14px;
}
.sup-item .item-img{
    display: flex;
    justify-content: center;
}
.sup-item p{
    display: flex !important;
    justify-content: center;
}
/* hot-deal */
.hot-deal{}
.sela-hot{
    margin: 0 10%;
}
.sela-hot div{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sela-hot .left-deal{
    overflow: hidden;
    display: block;
    padding: 0px 0 0px 0%;
    width: 50%;
}
.sela-hot .right-deal{
    overflow: hidden;
    display: block;
}
.left-hot-titel{
    display: block !important;
    font-family: lato;

}
.left-hot-titel h2, p, button{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.left-hot-titel h2 samp{
    color: #ff0339;
}
.left-hot-titel p{
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.left-hot-titel button{
    margin: 0 auto;
}
/* imsta */
.insta-head{
    padding: 125px 0px 20px;
    font-family: lato;
}
.insta-head h2{
    display: flex;
    justify-content: center;
}
.insta-head p{
    font-size: 14px;
    padding: 23px 100px;
    text-align: center;
    line-height: 25px;
    font-family: lato;
}
.insta-img {
    text-align: center;
    overflow: hidden;
}
.insta-img img{
    width: 200px;
    padding: 10px;
}